@import '../node_modules/normalize.css/normalize.css';

body {
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, p, button {
  margin: 0;
}

main {
  background-color: #121D27;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 span {
  background-color: rgba(0,0,0,.5);
  border: 1px solid rgb(25, 41, 58);
  font-size: 8px;
  border-radius: 3px;
  padding: 4px 6px;
}

h2 {
  color: rgb(100, 133, 165);
  font-weight: 400;
  font-size: 12px;
  margin-top: 12px;

  a {
    color: #6554B5;
    text-decoration: none;
    font-weight: 700;
  }
}
